SanteDB.Cdss.Xml/Schema/SanteDBCdss.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
 - Copyright 2021-2024 SanteSuite Contributors (See NOTICE.md for full copyright notices)
 - Copyright (C) 2019 - 2021, Fyfe Software Inc. and the SanteSuite Contributors
 - Portions Copyright (C) 2015-2018 Mohawk College of Applied Arts and Technology
 - 
 - Licensed under the Apache License, Version 2.0 (the "License"); you 
 - may not use this file except in compliance with the License. You may 
 - obtain a copy of the License at 
 - 
 - http://www.apache.org/licenses/LICENSE-2.0 
 - 
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 - WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the 
 - License for the specific language governing permissions and limitations under 
 - the License.
 -->
<xs:schema xmlns:tns="http://santedb.org/cdss" elementFormDefault="qualified" targetNamespace="http://santedb.org/cdss" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://santedb.org/issue" schemaLocation="SanteDBIssues.xsd" />
  <xs:import namespace="http://santedb.org/model" schemaLocation="SanteDBModel.xsd"/>
  <xs:complexType name="CdssBaseObjectDefinition" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="status" type="tns:CdssObjectState" />
      <xs:element minOccurs="0" maxOccurs="1" name="meta" type="tns:CdssObjectMetadata" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="uuid"  type="xs:string"  />
    <xs:attribute name="oid" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="CdssObjectState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="unk" />
      <xs:enumeration value="trial-use" />
      <xs:enumeration value="active" />
      <xs:enumeration value="retired" />
      <xs:enumeration value="dont-use" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CdssObjectMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="authors" type="tns:ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="version" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="documentation" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CdssDatasetDefinition" mixed="true">
  </xs:complexType>
  <xs:complexType name="CdssDecisionLogicBlockDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssBaseObjectDefinition">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="context" type="tns:CdssResourceTypeReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="when" type="tns:CdssWhenDefinition" />
          <xs:element minOccurs="1" maxOccurs="1" name="define" type="tns:ArrayOfChoice2" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CdssResourceTypeReference">
    <xs:attribute name="type" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="CdssWhenDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssBaseObjectDefinition">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="csharp" type="tns:CdssCsharpExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="hdsi" type="tns:CdssHdsiExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="xml" type="tns:CdssXmlLinqExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="query" type="tns:CdssQueryExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="all" type="tns:CdssAllExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="none" type="tns:CdssNoneExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="any" type="tns:CdssAnyExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="fact" type="tns:CdssFactReferenceExpressionDefinition" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CdssCsharpExpressionDefinition" mixed="true">
  </xs:complexType>
  <xs:complexType name="CdssExpressionDefinition" abstract="true" />
  <xs:complexType name="CdssFactReferenceExpressionDefinition">
    <xs:attribute name="ref" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="CdssAggregateExpressionDefinition" abstract="true">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="csharp" type="tns:CdssCsharpExpressionDefinition" />
        <xs:element minOccurs="0" maxOccurs="1" name="hdsi" type="tns:CdssHdsiExpressionDefinition" />
        <xs:element minOccurs="0" maxOccurs="1" name="xml" type="tns:CdssXmlLinqExpressionDefinition" />
        <xs:element minOccurs="0" maxOccurs="1" name="fact" type="tns:CdssFactReferenceExpressionDefinition" />
        <xs:element minOccurs="0" maxOccurs="1" name="all" type="tns:CdssAllExpressionDefinition" />
        <xs:element minOccurs="0" maxOccurs="1" name="none" type="tns:CdssNoneExpressionDefinition" />
        <xs:element minOccurs="0" maxOccurs="1" name="any" type="tns:CdssAnyExpressionDefinition" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CdssHdsiExpressionDefinition" mixed="true">
    <xs:attribute name="scope" type="tns:CdssHdsiExpressionScopeType"  />
    <xs:attribute name="negate" type="xs:boolean"  />
  </xs:complexType>
  <xs:simpleType name="CdssHdsiExpressionScopeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="scopedObject" />
      <xs:enumeration value="context" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CdssXmlLinqExpressionDefinition">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="linq" type="tns:XmlExpression" />
    </xs:sequence>
    <xs:attribute name="scope" type="tns:CdssHdsiExpressionScopeType"  />
  </xs:complexType>
  <xs:complexType name="CdssAllExpressionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssAggregateExpressionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CdssNoneExpressionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssAggregateExpressionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CdssAnyExpressionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssAggregateExpressionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CdssQueryExpressionDefinition" mixed="true">
    <xs:attribute name="scope" type="tns:CdssHdsiExpressionScopeType"  />
    <xs:attribute name="order-by" type="xs:string" />
    <xs:attribute name="select" type="xs:string" />
    <xs:attribute name="source" type="xs:string" use="required"/>
    <xs:attribute name="fn" type="tns:CdssCollectionSelectorType" use="required" />
  </xs:complexType>
  <xs:simpleType name="CdssCollectionSelectorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="first" />
      <xs:enumeration value="last" />
      <xs:enumeration value="single" />
      <xs:enumeration value="avg" />
      <xs:enumeration value="sum" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfChoice2">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="protocol" nillable="true" type="tns:CdssProtocolAssetDefinition" />
      <xs:element minOccurs="1" maxOccurs="1" name="rule" nillable="true" type="tns:CdssRuleAssetDefinition" />
      <xs:element minOccurs="1" maxOccurs="1" name="model" nillable="true" type="tns:CdssModelAssetDefinition" />
      <xs:element minOccurs="1" maxOccurs="1" name="fact" nillable="true" type="tns:CdssFactAssetDefinition" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CdssProtocolAssetDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssRuleAssetDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="scopes" type="tns:ArrayOfCdssProtocolGroupDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CdssRuleAssetDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssComputableAssetDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="when" type="tns:CdssWhenDefinition" />
          <xs:element minOccurs="1" maxOccurs="1" name="then" type="tns:ArrayOfChoice1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CdssComputableAssetDefinition" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssBaseObjectDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CdssModelAssetDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssComputableAssetDefinition">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="json" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" xmlns:q3="http://santedb.org/model" ref="q3:Act" />
            <xs:element minOccurs="0" maxOccurs="1" xmlns:q4="http://santedb.org/model" ref="q4:TextObservation" />
            <xs:element minOccurs="0" maxOccurs="1" xmlns:q5="http://santedb.org/model" ref="q5:SubstanceAdministration" />
            <xs:element minOccurs="0" maxOccurs="1" xmlns:q6="http://santedb.org/model" ref="q6:QuantityObservation" />
            <xs:element minOccurs="0" maxOccurs="1" xmlns:q7="http://santedb.org/model" ref="q7:CodedObservation" />
            <xs:element minOccurs="0" maxOccurs="1" xmlns:q8="http://santedb.org/model" ref="q8:PatientEncounter" />
            <xs:element minOccurs="0" maxOccurs="1" xmlns:q9="http://santedb.org/model" ref="q9:Procedure" />
            <xs:element minOccurs="0" maxOccurs="1" xmlns:q10="http://santedb.org/model" ref="q10:Narrative" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="ref" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CdssFactAssetDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssComputableAssetDefinition">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="csharp" type="tns:CdssCsharpExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="hdsi" type="tns:CdssHdsiExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="query" type="tns:CdssQueryExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="xml" type="tns:CdssXmlLinqExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="all" type="tns:CdssAllExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="none" type="tns:CdssNoneExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="any" type="tns:CdssAnyExpressionDefinition" />
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="normalize" type="tns:CdssFactNormalizationDefinition" />
        </xs:sequence>
        <xs:attribute name="negate" type="xs:boolean" />
        <xs:attribute name="type" type="tns:CdssValueType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CdssFactNormalizationDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssBaseObjectDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="when" type="tns:CdssWhenDefinition" />
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="csharp" type="tns:CdssCsharpExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="hdsi" type="tns:CdssHdsiExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="xml" type="tns:CdssXmlLinqExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="all" type="tns:CdssAllExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="none" type="tns:CdssNoneExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="any" type="tns:CdssAnyExpressionDefinition" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CdssValueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="date" />
      <xs:enumeration value="integer" />
      <xs:enumeration value="long" />
      <xs:enumeration value="string" />
      <xs:enumeration value="bool" />
      <xs:enumeration value="real" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfChoice1">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="raise" nillable="true" type="tns:CdssIssueActionDefinition" />
      <xs:element minOccurs="1" maxOccurs="1" name="rule" nillable="true" type="tns:CdssRuleAssetDefinition" />
      <xs:element minOccurs="1" maxOccurs="1" name="apply" nillable="true" type="tns:CdssRuleReferenceActionDefinition" />
      <xs:element minOccurs="1" maxOccurs="1" name="propose" nillable="true" type="tns:CdssProposeActionDefinition" />
      <xs:element minOccurs="1" maxOccurs="1" name="repeat" nillable="true" type="tns:CdssRepeatActionDefinition" />
      <xs:element minOccurs="1" maxOccurs="1" name="assign" nillable="true" type="tns:CdssPropertyAssignActionDefinition" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CdssIssueActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" xmlns:q11="http://santedb.org/issue" ref="q11:issue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CdssActionDefinition" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssBaseObjectDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CdssRuleReferenceActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssActionDefinition">
        <xs:attribute name="ref" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CdssExecuteActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssActionDefinition">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="apply" type="tns:CdssRuleReferenceActionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="assign" type="tns:CdssPropertyAssignActionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="propose" type="tns:CdssProposeActionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="raise" type="tns:CdssIssueActionDefinition" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CdssPropertyAssignActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssActionDefinition">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="csharp" type="tns:CdssCsharpExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="hdsi" type="tns:CdssHdsiExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="xml" type="tns:CdssXmlLinqExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="all" type="tns:CdssAllExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="none" type="tns:CdssNoneExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="any" type="tns:CdssAnyExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="query" type="tns:CdssQueryExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="fact" type="tns:CdssFactReferenceExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="fixed" type="xs:string" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="path" type="xs:string" use="required" />
        <xs:attribute name="overwrite" type="xs:boolean"  />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CdssProposeActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="model" type="tns:CdssModelAssetDefinition" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="assign" type="tns:CdssPropertyAssignActionDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CdssRepeatActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssExecuteActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="until" type="tns:CdssWhenDefinition" />
        </xs:sequence>
        <xs:attribute name="iterations" type="xs:int" />
        <xs:attribute name="trackBy" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfCdssProtocolGroupDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:CdssProtocolGroupDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CdssProtocolGroupDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssBaseObjectDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CdssEvaluationMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="any" />
      <xs:enumeration value="all" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CdssLibrary" nillable="true" type="tns:CdssLibraryDefinition" />
  <xs:complexType name="CdssLibraryDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssBaseObjectDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="include" type="xs:string" />
          <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="logic" type="tns:CdssDecisionLogicBlockDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="data" type="tns:CdssDatasetDefinition" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CdssChangeScopeObjectActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CdssActionDefinition">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="csharp" type="tns:CdssCsharpExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="hdsi" type="tns:CdssHdsiExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="fact" type="tns:CdssFactReferenceExpressionDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="query" type="tns:CdssQueryExpressionDefinition" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="BinaryOperatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="eq" />
      <xs:enumeration value="lt" />
      <xs:enumeration value="lte" />
      <xs:enumeration value="gt" />
      <xs:enumeration value="gte" />
      <xs:enumeration value="ne" />
      <xs:enumeration value="and" />
      <xs:enumeration value="or" />
      <xs:enumeration value="add" />
      <xs:enumeration value="sub" />
      <xs:enumeration value="is" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="XmlBinaryExpression">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:XmlExpression">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="constantExpression" type="tns:XmlConstantExpression" />
            <xs:element minOccurs="0" maxOccurs="1" name="memberExpression" type="tns:XmlMemberExpression" />
            <xs:element minOccurs="0" maxOccurs="1" name="parameterExpression" type="tns:XmlParameterExpression" />
            <xs:element minOccurs="0" maxOccurs="1" name="binaryExpression" type="tns:XmlBinaryExpression" />
            <xs:element minOccurs="0" maxOccurs="1" name="unaryExpression" type="tns:XmlUnaryExpression" />
            <xs:element minOccurs="0" maxOccurs="1" name="methodCallExpression" type="tns:XmlMethodCallExpression" />
            <xs:element minOccurs="0" maxOccurs="1" name="typeBinaryExpression" type="tns:XmlTypeBinaryExpression" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="operator" type="tns:BinaryOperatorType" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlExpression" abstract="true" />
  <xs:complexType name="XmlParameterExpression">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:XmlExpression">
        <xs:attribute name="type" type="xs:string" />
        <xs:attribute name="parameterName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlBoundExpression" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:XmlExpression">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="constantExpression" type="tns:XmlConstantExpression" />
            <xs:element minOccurs="0" maxOccurs="1" name="memberExpression" type="tns:XmlMemberExpression" />
            <xs:element minOccurs="0" maxOccurs="1" name="parameterExpression" type="tns:XmlParameterExpression" />
            <xs:element minOccurs="0" maxOccurs="1" name="binaryExpression" type="tns:XmlBinaryExpression" />
            <xs:element minOccurs="0" maxOccurs="1" name="unaryExpression" type="tns:XmlUnaryExpression" />
            <xs:element minOccurs="0" maxOccurs="1" name="methodCallExpression" type="tns:XmlMethodCallExpression" />
            <xs:element minOccurs="0" maxOccurs="1" name="typeBinaryExpression" type="tns:XmlTypeBinaryExpression" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="staticClass" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlConstantExpression">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:XmlExpression">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="value" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlMemberExpression">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:XmlBoundExpression">
        <xs:attribute name="memberName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlUnaryExpression">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:XmlBoundExpression">
        <xs:attribute name="operator" type="tns:UnaryOperatorType" use="required" />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="UnaryOperatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="not" />
      <xs:enumeration value="convert" />
      <xs:enumeration value="neg" />
      <xs:enumeration value="as" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="XmlMethodCallExpression">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:XmlBoundExpression">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="methodTypeArgument" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="argument" type="tns:XmlExpressionList" />
        </xs:sequence>
        <xs:attribute name="methodName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlExpressionList">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="constantExpression" type="tns:XmlConstantExpression" />
        <xs:element minOccurs="0" maxOccurs="1" name="memberExpression" type="tns:XmlMemberExpression" />
        <xs:element minOccurs="0" maxOccurs="1" name="parameterExpression" type="tns:XmlParameterExpression" />
        <xs:element minOccurs="0" maxOccurs="1" name="binaryExpression" type="tns:XmlBinaryExpression" />
        <xs:element minOccurs="0" maxOccurs="1" name="unaryExpression" type="tns:XmlUnaryExpression" />
        <xs:element minOccurs="0" maxOccurs="1" name="methodCallExpression" type="tns:XmlMethodCallExpression" />
        <xs:element minOccurs="0" maxOccurs="1" name="lambdaExpression" type="tns:XmlLambdaExpression" />
        <xs:element minOccurs="0" maxOccurs="1" name="typeBinaryExpression" type="tns:XmlTypeBinaryExpression" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlLambdaExpression">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:XmlBoundExpression">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="argument" type="tns:XmlParameterExpression" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlTypeBinaryExpression">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:XmlBoundExpression">
        <xs:attribute name="operandType" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
